
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form enctype="application/x-www-form-urlencoded" method="post">
        @if (!User.Identity.IsAuthenticated)
        {
            <div><label>用户名：<input type="text" name="UserName" /></label><button type="submit">登录</button></div>
        }
        else
        {
            <div><label>用户名：@User.Identity.Name</label><a href="/Home/SignOut">退出</a></div>
        }
    </form>
</body>
</html>
